.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.15);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  min-width: 70%;
  min-height: 30%;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1.5rem;
  text-align: center;
}